$degradado : linear-gradient(0deg,
rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5)),url("../imagenes/hero.jpg");
$pasteleria: linear-gradient(0deg,
rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5)),url("../imagenes/pasteleria.jpg");
$nutricion: linear-gradient(0deg,
rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5)),url("../imagenes/nutricion.jpg");
$panaderia: linear-gradient(0deg,
rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5)),url("../imagenes/panaderia.jpg");
$colorclick : rgb(75, 25, 122);
$primario: blueviolet;
$negro30:  rgb(30, 30, 30);
