@import 'variables';
@import 'basicos';
@import '_mixin';

button{
    font: {
        size: 1.25em;
        weight: bold;
    }
    padding: 10px 30px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color:white;
    background-color: $primario;
    &:hover{background-color: $colorclick ;}
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-titulo{
    color: $primario;
}

header{
    background-color: rgb(245, 245, 245);
    
    .logo{
        margin: 0;
        padding: 25px 30px;
        text-align: center;
    }
    .container{
        @include flex;
        align-items: center;
    }
    nav {
        @include flex;
        text-align: center;
        padding-bottom: 25px;
    }
    a{
        padding: 5px 12px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        &:hover{color: $primario;}
    }
}

#hero{
    @include flex;
    @include alignjustify;
    text-align: center;
    height: 90vh;
    color: white;
    background: {
        image:$degradado;
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
}

#somos-atelierculinario{
    .container{
        text-align: center;
        padding: 200px 12px;}
}

#nuestros-cursos{
    background-color: $negro30;
    color: aliceblue;
    text-align: center;

    .container{
        padding: 150px 12px;
    }
    h2{
        margin-top: 0;
        font-size: 3.2em;
    }
    p{
        display: none
    }
    .carta{
        background: {
            position: center center;
            size: cover;
        }
        padding: 50px;
        margin: 20px;
        border-radius: 15px;
        &:nth-child(1){background-image: $pasteleria}
        &:nth-child(2){background-image: $nutricion}
        &:nth-child(3){background-image: $panaderia}
    }
}

#caracteristicas{
    .container{
    text-align: center;
    padding: 250px 12px;
    }
    li{
        margin: 16px 0px;
        font-weight: bold;}
} 

#final{
    @include flex;
    @include alignjustify;
    text-align: center;
    height: 90vh;
    color: white;
    background: {
        color: $negro30;
        repeat:no-repeat;
        size: cover;
        position: center center;
    };
    
    h2{
        font-size: 9vh;
    }
    button{
        font-size: 5vh;
    }
}
/*Footer*/

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: white;
    @include flex;
    @include alignjustify;

    .redes-sociales-container{ 
        display: flex;
        @include alignjustify;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    .footer-menu-container{
        display: flex;
        @include alignjustify;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        list-style-type: none;
        color: black;
        font-size: 18px;
        
        .menu-item{
            margin: 1rem 1.5rem;
            cursor: pointer;
            opacity: 0.6;
            &:hover{opacity: 1;}
        }
    }
}

.icono-redsocial{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid black;
    background: {
        image: url(../imagenes/facebook.png);
        position: center;
        size: 40%;
        repeat: no-repeat;
    }
    margin: 1rem;
    &:hover{background-color: white;
    filter: invert(1)}
    &:nth-child(1){background-image: url(../imagenes/instagram.png);}
    &:nth-child(2){background-image: url(../imagenes/twitter.png);}
    &:nth-child(3){background-image: url(../imagenes/youtube.png);}

    .copyright{
        color: $primario;
        text-align: center;
    }
}

form{
    width: 300px;
    margin: auto;
    background-image: url(../imagenes/fondo3.jpg);
    background-position: center;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 7px;
    margin-bottom: 30px;

    h3 {
        color: white;
        text-align: center;
        margin: 0%;
        font-size: 30px;
        margin-bottom: 20px;
        text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
    }

    input, textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    }

    #Boton{
        background: $primario;
    color: white;
    padding: 20px;
    &:hover{background-color: $colorclick;}

    }
    
}

@media(min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }


    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding: 0;
        padding-right: 20px;
    }

    #somos-atelierculinario .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-atelierculinario .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        @include flex;
        justify-content: center;
    }

    
    #somos-atelierculinario .img-container{
        background-image: url(../imagenes/chef-nosotros.jpg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #nuestros-cursos .cursos{
        display: flex;
        justify-content: center;
    }

    #nuestros-cursos p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-cursos h3{
        margin-top: 0;
    }

    #nuestros-cursos .carta{
        padding: 40px;
    }


    #caracteristicas{
        background-image: url(../imagenes/caracteristicas.jpg);
        
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
        color: white;
        text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;

    }

    /*Formulario de contacto*/

    form{
        width: 450px;
        margin: auto;
        background-image: url(../imagenes/fondo3.jpg);
        background-position: center;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 30px;
        border-radius: 7px;
        margin-bottom: 30px;
        
    }

    h3 {
        color: white;
        text-align: center;
        margin: 0%;
        font-size: 30px;
        margin-bottom: 20px;
        text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
    }

    input, textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    }

    #Boton{
    background: $primario;
    color: white;
    padding: 20px;
    &:hover{background-color: $colorclick;}
    }
}